<h4 class='text-center'>
  <a class='coin-nav' href="{{baseURL}}/coins/{{coin.denomination}}/{{ coin.series | slugify }}/{{ coin.prev_coin }}">
    ← Previous Coin </a>
  <a class='coin-nav' href="{{baseURL}}/coins/{{coin.denomination}}/{{ coin.series | slugify }}/{{ coin.next_coin }}">
    Next Coin → </a>
</h4>

<h1 class='text-center'> 
  <div> 
    <a routerLink="/coins/{{coin.denomination}}/{{ coin.series | slugify }}">{{coin.series}}</a> 
    <span>
      <img src="{{coin.generic_img_url}}" class='thumb' id='panzoom-image'>
    </span>
  </div>

  <div> {{ coinDescription }} {{ coin.denomination }} </div>
</h1>

<div class='container text-center'>
  <div> Mintage: {{ coin.mintage ? (coin.mintage | number) : 'N/A' }} </div>
  <div> Composition: {{ coin.metals() | titlecase }} </div>
  <div> Designer: {{ coin.designer }} </div>
  <div> Diameter: {{ coin.diameter }} mm ({{ coin.diameter / 25.4 | number: '1.1-2' }} inches) </div> 
  <div> Mass: {{ coin.mass }} grams ({{ ounces | number: '1.1-3' }} ounces) </div>
  <div> PCGS Population: {{ coin.pcgs_total | number }} </div>
  <div> Melt Value: ${{ meltValue }} </div>
  
  <a href="https://www.pcgs.com/coinfacts/coin/{{ coinDescription | slugify }}/{{coin.pcgs_num}}" 
     target='blank' 
     rel='noreferrer noopener'> 
     PCGS Page 
  </a>
</div>

<!-- Chart and buttons -->
<div class='chart-div text-center'>
  <button (click)="changeChartType('line')" class='btn btn-sm presentational spaced'>
    Display as Line Chart
  </button>

  <button (click)="changeChartType('pie')" class='btn btn-sm presentational spaced'>
    Display as Pie Chart
  </button>

  <button (click)="changeChartType('bar')" class='btn btn-sm presentational spaced'>
    Display as Bar Chart
  </button>

  <button (click)="changeChartType('column')" class='btn btn-sm presentational spaced'>
    Display as Column Chart
  </button>

  <div id="chartContainer" class='chart'></div>

</div>