.thumb {
    margin-left: 10px;
    border-radius: 50%;
    width: 4%;
}

.spaced {
    margin-left: 2px;
    margin-right: 2px;
}

.chart-div {
    margin: auto;
    width: 60%;
    padding: 80px;

    @media(max-width: 1200px) {
        width: 75%;
    }

    @media(max-width: 1000px) {
        width: 80%;
    }
    
    @media(max-width: 600px) {
        width: 100%;
    }
    
    .chart {
        margin-top: 50px;
        height: 350px;
    }
}