<div class='container-fluid text-center'>
  <h1>
    <a routerLink="/"> Other </a>
  </h1>

  <h1> Copper and Nickel Coins </h1>

  <div>
    <h2> 1C Pennies </h2>

    <a routerLink="/coins/1C">
      <img class="coin-img" src="https://s3.amazonaws.com/ngccoin-production/us-coin-explorer/5746552-001o_t.jpg" width=198px>
    </a>
  </div>

  <div>
    <h2> 5C Nickels </h2>

    <a routerLink="/coins/5C">
      <img class="coin-img" src="https://s3.amazonaws.com/ngccoin-production/us-coin-explorer/4752048-004o_t.jpg" width=198px>
    </a>
  </div>

</div>