.series-index-div {
  justify-content: center;
  align-content: center;
}

.coin-img {
  width: 200px;
}

.category-title {
  margin-bottom: 50px;
  font-size: 50px;
}

.series-item {
  padding: 50px;
  margin: 50px;
}