<div class='container-fluid text-center'>

  <h1>
    <a routerLink="/{{metalType}}"> {{ metalType | titlecase }} </a>
  </h1>

  <h1 class='category-title'> {{ category }} </h1>

  <div class='row series-index-div'>
    <div class='series col-sm-4' *ngFor= "let series of seriesList">
      <h2> {{ series['name'] }} </h2>
      <h2> {{ series['date_range'] }} </h2>

      <a routerLink="/coins/{{series['denomination']}}/{{series['name'] | slugify }}">
        <img (click)="setCurrentCoinImage($event.target.src)" class="coin-img" src="{{ series['generic_img_url'] }}">
      </a>
    </div>
  </div>
</div>