<div class='text-center container-fluid'>
  
  <h1>
    <a routerLink="/coins/{{denomination}}"> {{ category }} ({{ denomination }}) </a>
    <div> {{ seriesName | titlecase }} </div>
  </h1>

  <div class="flip-coin div">
    <div class="flip-coin-inner">
      <div class="flip-coin-front">
        <img class="flip-coin-img" src="{{ seriesObverse }}" draggable="false">
      </div>
      <div class="flip-coin-back">
        <img class="flip-coin-img" src="{{ seriesReverse }}" draggable="false">
      </div>
    </div>
  </div>

  <div class="filter-btn-div">
    <label for='filter-by-mintmark'>Filter By Mintmark</label>
    <select name="filter-by-mintmark" [(ngModel)]="mintmarkFilter"
      (ngModelChange)="filterDisplayedCoinsByMintmark(mintmarkFilter)">
      <option *ngFor="let option of mintmarks" [value]="option">
        {{ option }}
      </option>
      <option value=''>No Mintmark (P)</option>
    </select>
  </div>

  <div class='filter-selections'>
    <label for='varieties'>Hide or Show Varieties</label>
    <select name='varieties' [(ngModel)]="varietiesHidden" (ngModelChange)="hideVarieties(varietiesHidden)">
      <option value=false>Show</option>
      <option value=true>Hide</option>
    </select>
  </div>

  <table class='container coins-table'>
    <tr>
      <th class='coins-table-header'>
        <button class='btn btn-sm presentational' (click)="sortCoinsByProperty('year')">
          {{ sortByLabels['year'] | titlecase }}
        </button>
      </th>

      <th class='coins-table-header'>
        <button class='btn btn-sm presentational' (click)="sortCoinsByProperty('mintage')">
          {{ sortByLabels['mintage'] | titlecase }}
        </button>
      </th>

      <th class='coins-table-header'>
        <button class='btn btn-sm presentational' (click)="sortCoinsByProperty('pcgs_total')">
          {{ sortByLabels['pcgs_total'] | titlecase }}
        </button>
      </th>
    </tr>

    <tr *ngFor="let coin of filteredCoins" class='coin-idx-info'>
      <td>
        <a routerLink="/coins/{{ coin.denomination }}/{{ coin.series | slugify }}/{{ coin.description() }}">
          {{ coin.description() }} 
        </a>
      </td>

      <td> Minted: {{ coin.mintage ? (coin.mintage | number) : 'N/A' }} </td>
      <td> PCGS Population: {{ coin.pcgs_total || 0 }} </td>
    </tr>

  </table>

</div>