.coins-table-header {
  width: 400px;
}

.sort-btn {
  font-weight: 600;
  border-radius: 5px;
  background-color: rgba(207, 213, 231, 0.5);

  &:focus {
    background-color: rgba(4, 46, 124, 0.8);
    color: white;
  }
}

select { 
  text-align-last: center;
}

.coins-table {
  margin-bottom: 2em;
  margin-top: 2em;
}

.coin-img {
  width: 200px;
}