<div class='text-center container-fluid'>

  <h1>
    <a routerLink="/coins/{{denomination}}"> {{ category }} ({{ denomination }}) </a>
    <div> {{ seriesName | titlecase }} </div>
  </h1>



  <table class='container'>
    <tr>
      <th>
        <button class='btn btn-sm sort-btn' (click)="sortCoinsByProperty('year')">
          {{ this.sortByLabels['year'] | titlecase }}
        </button>
      </th>

      <th>
        <button class='btn btn-sm sort-btn' (click)="sortCoinsByProperty('mintage')">
          {{ this.sortByLabels['mintage'] | titlecase }}
        </button>
      </th>

      <th>
        <button class='btn btn-sm sort-btn' (click)="sortCoinsByProperty('pcgs_total')">
          {{ this.sortByLabels['pcgs_total'] | titlecase }}
        </button>
      </th>
    </tr>

    <tr *ngFor="let coin of coins" class='coin-idx-info'>
      <td>
      <a
        routerLink="/coins/{{ coin.denomination }}/{{ coin.series | slugify }}/{{ coin.yearAndMintmark() }} {{ coin.special_designation }}">{{ (coin.yearAndMintmark() + ' ' + coin.special_designation).trim() }}
      </a>
      </td>
      <td>({{ coin.mintage | number }} minted)</td>
      <td>PCGS Population: {{ coin.pcgs_total }}</td>
    </tr>

  </table>

</div>