<div class='text-center container-fluid'>
  
  <h1>
    <a routerLink="/coins/{{denomination}}"> {{ category }} ({{ denomination }}) </a>
    <div> {{ seriesName | titlecase }} </div>
  </h1>

  <div>
    <label for='filter-by-mintmark'>Filter By Mintmark</label>
    <select name="filter-by-mintmark" [(ngModel)]="mintmarkFilter"
      (ngModelChange)="filterDisplayedCoinsByMintmark(mintmarkFilter)">
      <option *ngFor="let option of mintmarks" [value]="option">
        {{ option }}
      </option>
      <option value=''>No Mintmark (P)</option>
    </select>
  </div>

  <div class='filter-selections'>
    <label for='varieties'>Hide or Show Varieties</label>
    <select name='varieties' [(ngModel)]="varietiesHidden" (ngModelChange)="hideVarieties(varietiesHidden)">
      <option value=false>Show</option>
      <option value=true>Hide</option>
    </select>
  </div>

  <table class='container coins-table'>
    <tr>
      <th>
        <button class='btn btn-sm sort-btn' (click)="sortCoinsByProperty('year')">
          {{ this.sortByLabels['year'] | titlecase }}
        </button>
      </th>

      <th>
        <button class='btn btn-sm sort-btn' (click)="sortCoinsByProperty('mintage')">
          {{ this.sortByLabels['mintage'] | titlecase }}
        </button>
      </th>

      <th>
        <button class='btn btn-sm sort-btn' (click)="sortCoinsByProperty('pcgs_total')">
          {{ this.sortByLabels['pcgs_total'] | titlecase }}
        </button>
      </th>
    </tr>

    <tr *ngFor="let coin of filteredCoins" class='coin-idx-info'>
      <td>
      <a routerLink="/coins/{{ coin.denomination }}/{{ coin.series | slugify }}/{{ coin.description() }}">{{ coin.description() }} </a>
      </td>
      <td>({{ coin.mintage | number }} minted)</td>
      <td>PCGS Population: {{ coin.pcgs_total }}</td>
    </tr>

  </table>

</div>