<div class='container-fluid text-center'>
  <h1> Silver Coins </h1>

  <div>
    <h2> $1 Dollars </h2>

    <a routerLink="/coins/$1">
      <img class="coin-img" src="https://s3.amazonaws.com/ngccoin-production/us-coin-explorer/4705555-004o_t.jpg" width=198px>
    </a>
  </div>

  <div>
    <h2> $0.50 Half Dollars </h2>

    <a routerLink="/coins/50C">
      <img class="coin-img" src="https://www.pcgs.com/UserImages/22059455o.jpg" width=156px>
    </a>
  </div>

  <div>
    <h2> $0.25 Quarters </h2>

    <a routerLink="/coins/25C">
      <img class="coin-img" src="https://www.pcgs.com/UserImages/SLQ2obv.jpg" width=126px>
    </a>
  </div>

  <div>
    <h2> $0.20 Twenty-Cent Pieces </h2>
  
    <a routerLink="/coins/20C">
      <img class="coin-img" src="https://www.pcgs.com/UserImages/13702957o.jpg" width=114px>
    </a>
  </div>

  <div>
    <h2> $0.10 Dimes </h2>

    <a routerLink="/coins/10C">
      <img class='coin-img' src="https://www.pcgs.com/UserImages/14107331o.jpg" width=93px>
    </a>
  </div>

</div>