<div class='container-fluid text-center'>
  <h1>
    <a routerLink="/"> Silver and Gold </a>
  </h1>

  <h1> Silver Coins </h1>

  <div class="coin-div">
    <h2> $1 Dollars </h2>

    <a routerLink="/coins/$1">
      <img class="coin-img silver" src="https://s3.amazonaws.com/ngccoin-production/us-coin-explorer/4705555-004o_t.jpg" width=190px>
    </a>

    <h2> $0.50 Half Dollars </h2>

    <a routerLink="/coins/50C">
      <img class="coin-img silver" src="https://s3.amazonaws.com/ngccoin-production/us-coin-explorer/3885402-005o_tbvo_t.jpg" width=150px>
    </a>

    <h2> $0.25 Quarters </h2>

    <a routerLink="/coins/25C">
      <img class="coin-img silver" src="https://s3.amazonaws.com/ngccoin-production/us-coin-explorer/2037631-180o_to_t.jpg" width=120px>
    </a>

    <h2> $0.20 Twenty-Cent Pieces </h2>
  
    <a routerLink="/coins/20C">
      <img class="coin-img silver" src="https://s3.amazonaws.com/ngccoin-production/us-coin-explorer/5862882-039%20(2020_03_16%2013_08_36%20UTC)o_t.jpg" width=111px>
    </a>

    <h2> $0.10 Dimes </h2>

    <a routerLink="/coins/10C">
      <img class='coin-img silver' src="https://s3.amazonaws.com/ngccoin-production/us-coin-explorer-category/10c%201916%20Mercury%20o.jpg" width=89px>
    </a>
  </div>

</div>