<div class='container-fluid text-center'>
  <h1> Gold Coins </h1>

  <div>
    <h2> $20 Double Eagles </h2>

    <a routerLink="/coins/$20">
      <img class="coin-img" src="https://www.pcgs.com/UserImages/1856o%20double%20eagle%20obv.jpg" width=178px>
    </a>
  </div>

  <div>
    <h2> $10 Eagles </h2>

    <a routerLink="/coins/$10">
      <img class="coin-img" src="https://www.pcgs.com/UserImages/1859o%20eagle%20obv.jpg" width=141px>
    </a>
  </div>

  <div>
    <h2> $5 Half Eagles </h2>

    <a routerLink="/coins/$5">
      <img class="coin-img" src="https://www.pcgs.com/UserImages/1842%20half%20eagle%20obv.jpg" width=113px>
    </a>
  </div>

  <div>
    <h2> $3 Three Dollar Pieces </h2>
  
    <a routerLink="/coins/$3">
      <img class="coin-img" src="https://www.pcgs.com/UserImages/13690509o.jpg" width=106px>
    </a>
  </div>

  <div>
    <h2> $2.5 Quarter Eagles </h2>

    <a routerLink="/coins/$2.50">
      <img class='coin-img' src="https://www.pcgs.com/UserImages/14101280o.jpg" width=94px>
    </a>
  </div>

  <div>
    <h2> $1 Gold Dollar</h2>

    <a routerLink="/coins/$1G">
      <img class='coin-img' src="https://www.pcgs.com/UserImages/Test%201851%20Gold%20Dollar%20obv.jpg" width=66px>
    </a>
  </div>

</div>